.oneItem__box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.3s;
}

.oneItem__box div {
    display: flex;
    flex-direction: row;
}

.oneItem__box div p:nth-child(1) {
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
    margin-right: 5px;
}

.oneItem__box div p:nth-child(2) {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

.oneItem__box:hover {
    border-color: orange;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.45);
}