.page_title h1 {
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    padding: 5px;
    font-size: 2rem;
}

.page_title span {
    font-size: 1.2rem;
    font-style: italic;
}