.task__container {
    display: flex;
    flex-direction: column;
}

.task__box {
    margin: 5px;
}

@media (min-width: 768px) {
    .task__container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .task__box{
        width: 300px;
    }

}

@media (min-width: 1024px) {
    .task__container {
        flex-direction: row;
    }
    .form__container{
        width: 300px;
    }

}