.one_note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    width: 80%;
    margin: 2px auto;
    padding: 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.created_date {
    color: rgba(0, 0, 0, 0.60);
    font-size: 0.7rem;
    font-style: italic;
}

.text_box {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
}

.buttons_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.buttons_box button {
    margin-bottom: 2px;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.important {
    border: 1px solid orange;
    border-radius: 4px;
    background: rgba(255, 165, 0, 0.05);
}

.update__form{
    width: 90%;
}
.update__form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.update__form form label{
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
}

.update__form form label input,
.update__form form label textarea{
    width: 90%;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.45);
    border-radius: 4px;
}
.update__form form label input:focus,
.update__form form label textarea:focus{
    outline-color: orange;
}

@media screen {
    .buttons_box button:hover {
        border-color: rgba(0, 0, 0, 0.45);
    }
}
