.userForm__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    width: 80vw;
    height: 70vh;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.userForm__container h1 {
    margin-bottom: 30px;
}

.userForm__container label {
    margin-top: 5px;
    width: 100%;
}

.userForm__container label input {
    width: 90%;
    padding: 10px;
    outline-color: orange;
}

.errorMsg,
.account_info {
    font-weight: 200;
    color: red;
    font-style: italic;
    padding: 3px;
}

.account_info {
    margin-top: 20px;
    font-size: 1.1rem;
    color: black;
}

@media (min-width: 768px)  and (orientation: landscape) {
    .userForm__container {
        width: 60vw;
        height: 80vh;
    }

    .userForm__container label input {
        width: 70%;
    }
}


@media (min-width: 768px)  and (orientation: portrait) {
    .userForm__container {
        width: 60vw;
        height: 70vh;
    }
}

@media screen and (min-width: 1024px) {
    .userForm__container {
        width: 30vw;
        height: 70vh;
    }

    .userForm__container label input {
        width: 50%;
    }

    .form__button {
        width: 30%;
    }
}
