.todo__item_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo__separator {
    font-size: 1.7rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 5px;
    text-transform: uppercase;
}

.todo__separator span {
    font-size: 1rem;
    font-style: italic;
    text-transform: lowercase;
}

@media (min-width: 768px) {
    .add_new_todo,
    .todo__item_box {
        width: 50vw;
        margin: 0 auto;
    }
}